html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    padding: 0 5px;
    background: #06f;
    height: 2em;
    align-items: center;
}

.link {
    color: #fff;
    margin: 0 5px;
}

#container {
    margin: 30px;
    text-align: center;
}

#video {
    border: 1px solid #000;
    width: fit-content;
    margin: auto;
}

#youtube {
    padding: 5px;
}

select {
    margin: 5px;
}

#setDateInput {
    margin: 5px;
}

#about {
    width: fit-content;
    border: 1px solid #000;
    text-align: center;
    margin: 2em auto 0;
    padding: 10px;
}

.red-text {
    color: #f00;
}