@mixin wh100 {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    @include wh100;
}

footer {
    background: #06f;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 2em;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    height: 100%;
}

#grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 15px;
}

#clock {
    font-size: 4em;
    display: block;
}

.item {
    outline: solid 1px #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item1 {
    grid-row: 1;
    grid-column: 1;
}

#item2 {
    grid-row: 1;
    grid-column: 2;
}

#item3 {
    grid-row: 1;
    grid-column: 3;
}

#item4 {
    grid-row: 2;
    grid-column: 1;
}

#item5 {
    grid-row: 2;
    grid-column: 2;
}

#item6 {
    grid-row: 2;
    grid-column: 3;
}

#item7 {
    grid-row: 3;
    grid-column: 1;
}

#item8 {
    grid-row: 3;
    grid-column: 2;
}

#item9 {
    grid-row: 3;
    grid-column: 3;
}
