@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese');
$footer-height: 2em;
$item-padding: 5px;

@mixin wh100 {
    width: 100%;
    height: 100%;
}

@mixin alginCenter {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    @include wh100;
}

#popup-layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: .3);
}

#popup-content {
    display: none;
    position: fixed;
    width: 60vw;
    height: 90vh;
    left: calc(50% - 30vw);
    top: calc(50% - 45vh);
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1em;

    div {
        margin: 15px;
    }
}

#popup-content-wide {
    @extend #popup-content;
    width: 100vw;
    height: 100vh;
    left: calc(50% - 50vw);
    top: calc(50% - 50vh);
    border-radius: 0;
}

footer {
    display: flex;
    padding: 0 5px;
    background: #06f;
    height: $footer-height;
    align-items: center;
}

#container {
    height: 100vh;
    width: 100vw;
}

#grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: calc(100vh - #{$footer-height});
    width: 100vw;
    margin: 0 auto;
}

.item {
    box-sizing: border-box;
    border: 2px solid #000;
    padding: $item-padding;
}

.selectDiv {
    @include wh100;
    @include alginCenter;
}

select {
    margin: 10px;
}

#clock p {
    margin: 10px;
    height: auto;
    @include alginCenter;
}

.event-name {
    font-weight: bold;
}

#now-clock-text {
    font-size: 2em;
    @include alginCenter;
}

#ctrl {
    @include alginCenter;
    button {
        margin: 0 3px;
        font-size: .8em;
        align-self: stretch;
    }
}

.red-text {
    color: #f00;
}

.link {
    color: #fff;
    margin: 0 5px;
}

.not {
    text-decoration: line-through;
}
