$footer-height: 2em;
$item-padding: 10px;

@mixin wh100 {
    width: 100%;
    height: 100%;
}

@mixin alginCenter {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    @include wh100;
}

#popup-layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: .3);
}

#popup-content {
    display: none;
    position: fixed;
    width: 60vw;
    height: 90vh;
    left: calc(50% - 30vw);
    top: calc(50% - 45vh);
    background-color: #fff;
    text-align: center;
    border-radius: 10px;

    div {
        margin: 15px;
    }
}

#popup-content-wide {
    @extend #popup-content;
    width: 100vw;
    height: 100vh;
    left: calc(50% - 50vw);
    top: calc(50% - 50vh);
    border-radius: 0;
}

footer {
    display: flex;
    padding: 0 5px;
    background: #06f;
    height: $footer-height;
    align-items: center;
}

#container {
    height: 100vh;
    width: 100vw;
}

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - #{$footer-height});
    width: calc((100vh - #{$footer-height})/9*16);
    margin: 0 auto;
}

.item {
    box-sizing: border-box;
    border: 2px solid #000;
    padding: $item-padding;
    @for $i from 1 through 3 {
        &:nth-child(3n+#{$i}) {
            grid-column: $i;
        }
    }
    @for $i from 0 through 2 {
        @for $j from 1 through 3 {
            &:nth-child(#{$j}+#{$i*3}) {
                grid-row: $i+1;
            }
        }
    }
}

.selectDiv {
    @include wh100;
    @include alginCenter;
}

select {
    margin: 10px;
}

#clock p {
    margin: 10px;
    height: auto;
    @include alginCenter;
}

.event-name {
    font-weight: bold;
}

#now-clock-text {
    font-size: 2em;
    @include alginCenter;
}

#vol-ctrl {
    @include alginCenter;
}

button[id^="vol-"] {
    margin: 0 5px;
    font-size: .8em;
    align-self: stretch;
}

.red-text {
    color: #f00;
}

.link {
    color: #fff;
    margin: 0 5px;
}

.not {
    text-decoration: line-through;
}
