// ブレイクポイントを設定
$bp-tablet: 1024px;
$bp-sp: 640px;
$bp-iphone: 320px;

// メディアクエリ用のミックスイン
@mixin media($media-width) {
	@if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == iphone {
		@media only screen and (max-width: $bp-iphone) {
			@content;
		}
	}
	@else if $media-width == tablet {
		@media only screen and (max-width: $bp-tablet) {
			@content;
		}
	}
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    @include media(tablet) {
        float: none;
    }
    @include media(sp) {
        width: auto;
    }
}

header {
    display: flex;
    padding: 0 5px;
    background: #06f;
    height: 2em;
    align-items: center;
}

.link {
    color: #fff;
    margin: 0 5px;
}

#container {
    margin: 30px;
    text-align: center;
    @include media(sp) {
        margin: 10px 0;
    }
}

#video {
    border: 1px solid #000;
    width: fit-content;
    margin: auto;
}

#youtube {
    padding: 5px;
    @include media(sp) {
        padding: 0;
    }
}

select {
    margin: 5px;
}

#setDateInput {
    margin: 5px;
}

#eventText {
    font-weight: bold;
}

#about {
    width: fit-content;
    border: 1px solid #000;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
}

#aboutBtn {
    text-align: center;
    margin: auto;
    display: block;
}

.red-text {
    color: #f00;
}